{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <title>HTMX Example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/tailwind.css"/>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="text-3xl font-bold px-3">TimeTracker</a>
            <a class="btn btn-ghost text-xl">Days</a>
            <a class="btn btn-ghost text-xl">Projects</a>
            <a class="btn btn-ghost text-xl" href="/layout">Template Test</a>
        </div>
    </div>
    <div class="container p-5">
        {{template "inputbox" .}}
    </div>
    </body>
</html>
{{end}}