{{define "inputbox"}}
<form name="testform" method="post" action="/api/form">
    <div class="grid justify-center w-full">

        <div class="grid justify-center w-full">
            <input type="date" id="currentdate" name="currentdate" value="2023-11-01">
        </div>

        <div class="join p-2 w-[460px] border-2 border-slate-500">
            <div class="join-item px-2">
                <a class="text-xl">Start</a><br>
                <input class="form-input" type="time" id="start" name="start" min="06:00" max="20:00" value="10:00" />
            </div>
            <div class="join-item px-2">
                <a class="text-xl">End</a><br>
                <input type="time" id="end" name="end" min="06:00" max="20:00" value="15:00" />
            </div>
            <select class="join-item select text-xl" name="project">
                <option disabled selected>Pick your project</option>
                <option>Homer</option>
                <option>Marge</option>
                <option>Bart</option>
                <option>Lisa</option>
                <option>Maggie</option>
            </select>
            <button class="join-item btn">Add</button>
        </div>  
</div>    
</form>
{{end}}