{{define "nav"}}
<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="text-3xl font-bold px-3 text-primary" href="/">TimeTracker</a>
        <a class="btn btn-ghost text-xl">Days</a>
        <a class="btn btn-ghost text-xl">Projects</a>
        <a class="btn btn-ghost text-xl" href="/layout">Template Test</a>
    </div>
</div>
{{end}}